<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if msg %}
        {{msg}}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        new password:<br/>
        <input type="password" name="password" /><br/>
        re-type Password:<br/>
        <input type="password" name="confpassword"/><br/>
        <button>submit</button>
    </form>
</body>
</html>